    .cardCategorias{
        position: relative;
        width: 100%;
        height: 400px;
        left: 5%;
        bottom: 4%;
        margin: 3em;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.453);
    }
    .btnCategorias-primary{
        background-color: rgb(0, 0, 0);
        border-color: whitesmoke;
        color: rgb(255, 255, 255);
    }

    .btnCategorias-primary:hover{
        background-color: rgb(0, 161, 179);;
        color: rgb(255, 255, 255);
        border-color: rgb(0, 0, 0);
    }
    .btnCategorias-primary:focus{
      background-color: rgb(0, 161, 179);;
      color: rgb(255, 255, 255);
      border-color: rgb(0, 0, 0);
  }
    .cardCategorias-colums{
        display: flex;
        position: relative;
        background-color: rgba(255, 255, 255, 0.282);
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 10px;
        margin-bottom: 0;
        box-shadow: 2px 2px 15px rgb(0, 0, 0);
    }

    .cardCategorias-img-top{
        object-fit: cover;
        height: 200px;
      }

      .cardCategorias-title{
        filter: brightness(120%);
        color: rgb(0, 124, 138);
        font-weight: 600;
      }

      h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-family: 40px;
        color: rgb(230, 230, 230);
        text-align: center;
        margin-top: 30px;
        text-shadow: 2px 2px 4px rgb(0, 135, 158);
      }