.textCompra {
  position: relative;
  top: 30%;
  left: 30%;
  width: 800px;
}

.textCompra p {
  font-family: sans-serif;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.604);
  letter-spacing: 1px;
  text-align: center;
  font-size: 58px;
}