@keyframes transitionIn {
  from {
    opacity: 0.5;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  color: rgb(255, 255, 255);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -moz-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: rgb(0, 124, 138);
  filter: brightness(130%);
  height: 4px;
  text-shadow: 2px 2px 4px white;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  text-decoration: none;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:hover,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 8px rgb(255, 255, 255);
  left: 0;
  right: 0;
}

.icon {
  float: right;
  width: 20px;
  height: 20px;
  position: relative;
}

.presentacion {
  position: relative;
  width: 100%;
  margin: 0%;
}

.slider-frame {
  margin: 0%;
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 1920px;
  overflow-x: hidden;
  overflow-y: hidden;
}

@-webkit-keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1920px;
  }
  30% {
    left: 1920px;
  }
  40% {
    left: 3840px;
  }
  50% {
    left: 3840px;
  }
  60% {
    left: 1920px;
  }
  70% {
    left: 1920px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.slide-images {
  width: 5760px;
  height: 600px;
  margin: 0 0 0 -3840px;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  overflow-x: hidden;
  overflow-y: hidden;
}

.img-container {
  height: 600px;
  width: 1920px;
  position: relative;
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
}

.imagen {
  margin: 0%;
  width: 1920px;
  height: 600px;
  object-fit: cover;
  position: absolute;
  filter: brightness(80%) blur(3px);
}
.text {
  font-size: 92px;
  padding: 8px 12px;
  position: absolute;
  left: 1%;
  top: 25%;
  width: 100%;
  text-align: center;
  text-shadow: 3px 3px 6px #0a0a0a;
  font-family: sans-serif;
  font-weight: bold;
  filter: brightness(130%);
  color: rgb(0, 124, 138);
}
.text2 {
  color: #e4e4e4;
  font-style: bold;
  font-size: 32px;
  padding: 8px 12px;
  position: absolute;
  left: 1%;
  top: 50%;
  width: 100%;
  text-align: center;
  text-shadow: 3px 3px 6px #0a0a0a;
  font-family: sans-serif;
  font-weight: bold;
}

.ofertas {
  margin-top: 10px;
  height: 600px;
  width: 1920px;
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mostsold {
  margin-top: 10px;
  width: 960px;
  height: 600px;
  border: 3px solid rgb(0, 124, 138);
  background-color: whitesmoke;
  box-shadow: inset 0 0 100px black;
}
.popular {
  margin-top: 10px;
  width: 960px;
  height: 600px;
  border: 3px solid rgb(0, 124, 138);
  background-color: whitesmoke;
  box-shadow: inset 0 0 100px black;
}

.wrapper {
  height: 600px;
  width: 100%;
  display: flex;
  position: relative;
}

.oferta {
  width: 140px;
  height: 110px;
  bottom: 30%;
  right: 297px;
  margin: 12.69em;
  position: relative;
  filter: brightness(120%);
}

.card {
  position: relative;
  width: 100%;
  height: 400px;
  right: 10%;
  bottom: 4%;
  margin: 8em;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 15px rgb(0, 0, 0);
}

.card2 {
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 400px;
  margin: 4em;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 15px rgb(0, 0, 0);

  
}
.texto-h1 {
  position: absolute;
  left: 45%;
  margin-top: 1%;
  color: rgb(232, 232, 232);
  font-size: 44px;
  text-shadow: 2px 2px 6px black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.texto-h2 {
  position: relative;
  margin-top: 2%;
  color: rgb(0, 124, 138);
  text-shadow: 2px 2px 4px black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 44px;
  filter: brightness(130%);
}
.card-colums {
  display: flex;
  position: relative;
  left: 16%;
}

.card-colums2 {
  display: flex;
  position: relative;
  padding: 2em;
  bottom: 10%;
  left: 80px;
}

.circle:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0) 50%,
    rgb(0, 0, 0) 110%,
    rgb(0, 0, 0) 200%
  );
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.offerts {
  display: flex;
  position: absolute;
  left: 13%;
  width: 1420px;
  height: 300px;
}

.slider-frame2 {
  margin: 0%;
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 955px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slide-images2 {
  width: 5760px;
  height: 600px;
  margin: 0 0 0 -3900px;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  overflow-x: hidden;
  overflow-y: hidden;
}

@-webkit-keyframes slide_animation2 {
  0% {
    right: 0px;
  }
  10% {
    right: 0px;
  }
  20% {
    right: 1920px;
  }
  30% {
    right: 1920px;
  }
  40% {
    right: 3840px;
  }
  50% {
    right: 3840px;
  }
  60% {
    right: 1920px;
  }
  70% {
    right: 1920px;
  }
  80% {
    right: 0px;
  }
  90% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}

.slide-images3 {
  width: 5760px;
  height: 600px;
  margin: 0 0 0 -55px;
  position: relative;
  -webkit-animation-name: slide_animation2;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  overflow-x: hidden;
  overflow-y: hidden;
}

.img-container2 {
  height: 600px;
  width: 1920px;
  position: relative;
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo {
  width: 50px;
  position: absolute;
  top: 1%;
  left: 1%;
}

.logoPos {
  position: fixed;
  width: 100px;
  border: 5px solid aqua;
}