.textOpiniones {
  position: relative;
  top: 30%;
  left: 30%;
  width: 800px;
}

.textOpiniones p {
  font-family: sans-serif;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.604);
  letter-spacing: 1px;
  text-align: center;
  font-size: 58px;
}

.reseña {
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.reseña h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 5%;
}

input {
  width: 100%;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

.boton {
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
.boton:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

section {
  width: 100%;
}

.heading {
  text-align: center;
  background: var(---verde);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 1rem;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 5%;
}

.opiniones .caja-contenedor .caja {
  background: white;
  position: relative;
  flex: 1 1 10rem;
  width: 100%;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 5px;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.opiniones .caja-contenedor .caja .fa-number {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 6rem;
  color: var(--limon);
  opacity: 0.3;
}

.opiniones .caja-contenedor .caja .user img {
  margin-left: 46%;
  border-radius: 20%;
  object-fit: cover;
  height: 9rem;
  height: 6rem;
  width: 6rem;
  margin-top: 10px;
}

.opiniones .caja-contenedor .caja .user h3 {
  text-align: center;
  color: var(--verde);
  font-size: 2rem;
}

.opiniones .caja-contenedor .caja .comentarios {
  text-align: justify;
  color: #666;
  font-size: 3rem;
  padding: 3rem;
}

.caja-boton {
  width: 100%;
  margin-top: 20px;
}