#usuarios{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.213);
}

.wrapTable{
    margin-top: 100px;
}

h3{
    text-align: center;
    text-shadow: 1px 1px 15px black;
    color: white;
}

th{
    text-align: center;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.344);
    color: white;
}

.buttons{
    width: 50%;
    background-color: rgb(0, 163, 192);
    color: white;
    border-radius: 10px;
}

.buttons:hover{
    background-color: rgb(0, 225, 255);
    color: black;
    border-radius: 10px;
}





